<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link type='text/css' rel='stylesheet' href='/css/style.css'/>

        <script type="text/javascript" src='require.js' data-main="src/main"></script>
    </head>
    <body>
        <div data-bind="controll:app"></div>
    </body>
</html>